<div>
  <p>{{ poke?.name }}</p>
  <p>{{ poke?.id }}</p>
  <img [src]="poke?.imgUrl" />
  <br />
  <button *ngIf="!released" (click)="onPokemonClick(poke)">Release</button>
  <p *ngIf="released">was released :(</p>
</div>
