<div>
  <div *ngIf="owned">
    <img
      class="logo-img"
      src="../../../assets/pokeball.png"
      height="20px"
      width="20px"
    />
  </div>
  <div *ngIf="!owned">
    <button (click)="onPokemonClick(poke)">
      Add to my collection
    </button>
</div>
  <p>{{ poke?.name }}</p>
  <p>{{ poke?.id }}</p>
  <img [src]="poke?.imgUrl" />
  <br />
</div>
