<a routerLink="/catalogue">Go to Catalogue</a>
<button (click)="onLogoutClick()">Logout</button>
<img class="logo-img" src= "../../../assets/pokemon-logo-png-0.png">

<div class="grid-container">
    <div class="grid-item" *ngFor="let poke of pokemonList">
        <app-trainer-poke-item [poke]="poke"></app-trainer-poke-item>
    </div>
</div>
