.grid-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    background-color: #0075BE ;
    padding: 10px;
  }

  .grid-item {
    flex: 1 1 150px;
    background-color: rgba(255 204 0);
    border: 1px solid rgba(10 40 95);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }