<h1>Pokemon Trainer</h1>
<br>
<h3>Login</h3>
<form #createUsername="ngForm" (ngSubmit)="onSubmit(createUsername)">

    <fieldset>
        <label for="username">Username: </label>
        <input type="text" id="username" required minlength="3" name="username" ngModel #username="ngModel"
            placeholder="Red" />
    </fieldset>
    <button [disabled]="createUsername.invalid" type="submit">Login/Register</button>
    <p *ngIf="createUsername.invalid">Username needs to be at least 3 characters!</p>
</form>