.grid-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    background-color: #0c662f;
    padding: 10px;
  }

  .grid-item {
    flex: 1 1 150px;
    background-color: rgba(127, 228, 157, 0.8);
    border: 1px solid rgba(121, 128, 20, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }