<a routerLink="/trainer">Go to Trainer Profile</a>
<button (click)="onLogoutClick()">Logout</button>
<h1>All pokemon:</h1>
<section id="pokemon">
  <div class="grid-container">
    <div class="grid-item" *ngFor="let poke of pokemonList">
     <app-catalogue-poke-item [poke]="poke" [trainerPokemon]="trainerPokemon"></app-catalogue-poke-item>
    </div>
  </div>
</section>
